<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/common :: head('News')}"></th:block>
    <!-- No page-specific CSS needed -->
</head>
<body class="page-light">
    <header>
        <!-- Include navigation fragment with 'home' marked as active -->
        <th:block th:replace="~{fragments/common :: nav('news')}"></th:block>
    </header>
    
    <main>
        <!-- Hero Section -->
        <section class="hero-section">
            <div class="hero-content">
                <h1>News & Information</h1>
                <p>Stay up to date with news and information from the industry</p>
            </div>
        </section>
    
    <!-- Main Content -->
    <div class="container">
        <div th:each="news : ${newsDtos}" class="card">
            <h2 th:text="${news.title}"></h2>
            <p th:text="${news.desc}"></p>
            <br>
            <button class="btn btn-primary" th:href="${news.link}">Read More</button>
        </div>

    </div>
    </main>
    
    <!-- Include footer fragment -->
    <footer th:replace="~{fragments/common :: footer}"></footer>
    
    <!-- Include common scripts -->
    <div th:replace="~{fragments/common :: scripts}"></div>
</body>
</html>
